extends ../../layout.pug
include ../../mixins/buttons.pug

block content
    .container.text-center
        .row
            .col-sm
                h4 Judging List

        .row
            .col.sm
                each round in rounds
                    if round.submissions && round.submissions.length
                        h5= round.title

                        each submission in round.submissions
                            h5= submission.team.country.name + ' - ' + submission.anonymisedAs

                            table.table.table-hover
                                thead
                                    tr
                                        th Judge
                                        th Criteria
                                        th Comment
                                        th Score
                                tbody
                                    each judge in judges
                                        each criteria in criterias
                                            - const judging = submission.judging.find(j => j.judgeId === judge.id && j.judgingCriteriaId === criteria.id);
                                            tr
                                                td= judge.username
                                                td= criteria.name
                                                td= (judging && judging.comment) || 'Not done yet'
                                                td= (judging && judging.score) || 'Not done yet'
                
                        h5= round.title + ' - Summary'
                        
                        table.table.table-hover
                            thead
                                tr
                                    th Team
                                    th Final Score
                                    th
                            tbody
                                each submission in round.submissions
                                    - const finalScore = finalScores.find(s => s.submissionId === submission.id && s.roundId === round.id);
                                    tr
                                        td= submission.team.country.name + ' - ' + submission.anonymisedAs
                                        td= finalScore && finalScore.finalScore
                                        td
                                            if (submission.team.isCompeting)
                                                form(action="/admin/judging/eliminateTeam" method="post")
                                                    input(type="hidden" name="eliminatedTeamId" value=submission.team.id)
                                                    +submit-button('Eliminate Team')
