mixin img-flag(code)
    img(src=`https://osu.ppy.sh/images/flags/${code}.png`, alt=code)

mixin inline-flag(code)
    .country-flag(style=`background-image: url(https://osu.ppy.sh/images/flags/${code}.png);`)

mixin user-link(user)
    a(href=`https://osu.ppy.sh/users/${user}` target="_blank") #{user}

mixin user-avatar(user)
    .avatar(style=`background-image: url(https://a.ppy.sh/${user});`)

mixin local-date(date)
    | #{new Date(date).toLocaleString()}