extends ../../layout.pug
include ../../mixins/buttons.pug
include ../../mixins/header.pug

block content
    .container.text-center
        +header('Manage Rounds')

        .row
            .col-sm
                .card
                    .card-header
                        | Listing of all rounds, once the submissions are done and you made the osz with the anonymised entries, 
                        | you can add the link here (It'll show up for the judges and results tables)

        .row
            .col-sm
                table.leaderboard
                    thead
                        tr
                            th Title
                            th Information
                            th Anonymised Link
                            th Submission Start
                            th Submission End
                            th Judging Start
                            th Judging End
                            th Results
                            th
                    
                    tbody
                        each round in rounds
                            tr
                                td= round.title
                                td= round.information
                                td
                                    a(href=round.anonymisedLink) #{round.anonymisedLink}
                                td= round.submissionsStartedAt
                                td= round.submissionsEndedAt
                                td= round.judgingStartedAt
                                td= round.judgingEndedAt
                                td= round.resultsAt
                                td
                                    +link-button('Edit', '/admin/rounds/edit/' + round.id)
                    
                +link-button('Create', '/admin/rounds/create')(class="btn-block")
