extends ../layout.pug
include ../mixins/buttons.pug
include ../mixins/header.pug

block content
    .container.text-center
        +header('Captain Choice')

        .row
            .col-sm
                .card
                    .card-header
                        | People who has opt-in to become captain will appear here + the votes they have recieved from people that applied to become mapper (and actually voted)
        .row
            .col-sm
                if applicationsByCountry.length
                    each country in applicationsByCountry
                        .card
                            .card-header
                                h4= country.name

                            .card-body.p-0
                                table.table.table-hover
                                    thead
                                        tr
                                            th Applicant
                                            th Total Votes
                                            th Voted by
                                            th
                                    tbody
                                        each application in country.captainApplications
                                            tr
                                                td= application.user.username
                                                td= application.captainVotes.length
                                                td
                                                    each vote in application.captainVotes
                                                        = vote.user.username + ' '
                                                td
                                                    if (application.user.team && application.user.team.captainId === application.user.id)
                                                        form(action="/admin/captainChoice/destroy", method="post")
                                                            input(type="hidden", name="applicationId" value=application.id)
                                                            +submit-button('Remove')

                                                    //- If there's NOT any captain in the country
                                                    else if !(country.captainApplications.find(a => a.user.team && a.user.team.captainId))
                                                        form(action="/admin/captainChoice/store", method="post")
                                                            input(type="hidden", name="applicationId" value=application.id)
                                                            +submit-button('Choose')

                else
                    p No applications yet
