extends ../../layout.pug

block content
    .container.center-align
        .row
            .col.s12
                h4 Submissions

                each round in rounds
                    h5= round.title

                    if round.submissions && round.submissions.length
                        table.hightlight.reponsive-table
                            thead
                                tr
                                    th Team
                                    th Submission Date
                                    th Original Link
                                    th Anonymised As
                                    th
                            tbody
                                each submission in round.submissions
                                    tr
                                        td= submission.team.country.name
                                        td= new Date(submission.updatedAt).toLocaleString()
                                        td
                                            a(href=submission.originalLink) #{submission.originalLink}
                                        td=submission.anonymisedAs
                                        td
                                            a.btn-flat.waves-effect.waves-teal(href="/admin/manageSubmissions/edit/" + submission.id) Edit
                            
                    else
                        p None.
