extends ../../layout.pug
include ../../mixins/buttons.pug
include ../../mixins/extras.pug

block content
    .container.text-center
        .row
            .col-sm
                h4 Submissions

                each round in rounds
                    h5= round.title

                    if round.submissions && round.submissions.length
                        table.table.table-hover
                            thead
                                tr
                                    th Team
                                    th Submission Date
                                    th Original Link
                                    th Anonymised As
                                    th
                            tbody
                                each submission in round.submissions
                                    tr
                                        td= submission.team.country.name
                                        td
                                            +local-date(submission.updatedAt)
                                        td
                                            a(href=submission.originalLink) #{submission.originalLink}
                                        td= submission.anonymisedAs
                                        td
                                            +link-button('Edit', '/admin/manageSubmissions/edit/' + submission.id)
                            
                    else
                        p None.
