extends layout.pug

block content
    .container.center-align
        .row
            .col.s12
                h4 Hi #{user.username}, vote for the person that best fits the captain role for your country!

                if applications && applications.length
                    table.highlight.responsive-table
                        thead
                            tr
                                th Person
                                th Reason
                                th 
                        tbody
                            each application in applications
                                tr
                                    td= application.user.username
                                    td= application.reason
                                    td
                                        if application.user.id !== user.id
                                            if votesDone && votesDone.find((v) => v.captainApplication.id === application.id)
                                                form(action="/captainVoting/destroy", method="post")
                                                    input(type="hidden" name="applicationId" value=application.id)
                                                    button.btn-flat.waves-effect.waves-teal(type="submit") Cancel Vote
                                            else
                                                form(action="/captainVoting/store", method="post")
                                                    input(type="hidden" name="applicationId" value=application.id)
                                                    button.btn-flat.waves-effect.waves-teal(type="submit") Vote

                else
                    | Noone applied :(
