extends layout.pug
include ./mixins/buttons.pug

block content
    .container.text-center
        .row
            .col-sm
                h4 Hi #{user.username}, vote for the person who best fits the captain role for your country!

                if applications && applications.length
                    table.table.table-hover
                        thead
                            tr
                                th Person
                                th Reason
                                th 
                        tbody
                            each application in applications
                                tr
                                    td= application.user.username
                                    td= application.reason
                                    td
                                        if application.user.id !== user.id
                                            if votesDone && votesDone.find((v) => v.captainApplication.id === application.id)
                                                form(action="/captainVoting/destroy" method="post")
                                                    input(type="hidden" name="applicationId" value=application.id)
                                                    +submit-button('Cancel Vote')
                                            else
                                                form(action="/captainVoting/store" method="post")
                                                    input(type="hidden" name="applicationId" value=application.id)
                                                    +submit-button('Vote')

                else
                    | Noone applied :(
