extends layout.pug
include ./mixins/extras.pug
include ./mixins/header.pug

block content
    .container.text-center
        +header('Results per Round')
        
        if rounds
            each round in rounds
                if round.submissions && round.submissions.length
                    - let judges = round.submissions[0].judging.map(j => j.judge.username);
                    - judges = [...new Set(judges)];

                    .row
                        .col-sm
                            .card
                                .card-header
                                    h5= round.title
                                .card-body.p-0
                                    table.table.table-hover.table-responsive-md
                                        thead
                                            tr
                                                th Team
                                                th Entry's Name

                                                each judge in judges
                                                    th= judge
                                                
                                                th Final Score
                                        tbody
                                            each submission, i in round.submissions
                                                tr(data-toggle="modal" data-target=`#judgingDetail-${round.id}-${i}` style="cursor: pointer")
                                                    td.d-flex.justify-content-center.align-items-center
                                                        | #[+inline-flag(submission.team.country.code)] 
                                                        .ml-2 #{submission.team.country.name}
                                                    
                                                    td= submission.anonymisedAs
                                                    
                                                    - let finalScore = 0;
                                                    each judge in judges
                                                        - let relatedJudging = submission.judging.filter(j => j.judge.username === judge);
                                                        if relatedJudging && relatedJudging.length
                                                            - let totalJudgeScore = relatedJudging.map(j => j.score).reduce((total, score) => total + score, 0) || 0;
                                                            - finalScore += totalJudgeScore
                                                            td= totalJudgeScore
                                                    
                                                    td= finalScore

                                                    .modal.fade(tabindex="-1" id=`judgingDetail-${round.id}-${i}`)
                                                        .modal-dialog.modal-lg
                                                            .modal-content
                                                                .modal-header
                                                                    .modal-title
                                                                        .d-flex.justify-content-center.align-items-center
                                                                            | #[+inline-flag(submission.team.country.code)] 
                                                                            .ml-2 #{submission.team.country.name} (#{submission.anonymisedAs})

                                                                    button.close(type="button" data-dismiss="modal")
                                                                        span &times;
                                                                .modal-body
                                                                    .container-fluid
                                                                        each criteria in criterias
                                                                            -let relatedJudging = submission.judging.filter(j => j.judgingCriteria.id === criteria.id)
                                                                            -let finalScore = relatedJudging.map(j => j.score).reduce((total, score) => total + score, 0) || 0

                                                                            .row
                                                                                p 
                                                                                    | #{criteria.name} 
                                                                                    b (#{finalScore})
                                                                            
                                                                            .row.box
                                                                                .col-sm
                                                                                    each judging in relatedJudging
                                                                                        .row.text-left
                                                                                            .col-sm-3
                                                                                                | #{judging.judge.username} 
                                                                                                b (#{judging.score}):
                                                                                            .col-sm
                                                                                                = judging.comment
                                                                            
                                                                            hr
