extends layout.pug
include ./mixins/buttons.pug
include ./mixins/extras.pug

block content
    .container.text-center
        .row
            .col-sm
                h4 List of people who applied to be mapper for #{user.country.name}
                p You can choose up to 5 mappers

        .row
            .col-sm
                form(action="/mappersChoice/save", method="post")
                each application in applications
                    .form-check
                        input.form-check-input(
                            id=application.id
                            type="checkbox"
                            value=application.id
                            checked=(team && team.users && team.users.find(u => u.id === application.user.id) !== undefined)
                        )
                        label.form-check-label(for=application.id)
                            +user-avatar(application.user.osuId)
                            +user-link(application.user.username)

                +submit-button
