extends layout.pug
include ./mixins/buttons.pug
include ./mixins/extras.pug

block content
    form.container.text-center(action="/mappersChoice/save", method="post")
        .row.mb-2
            .col-sm
                .card
                    .card-body
                        h4.card-title List of people who applied to be mapper for #{user.country.name}
                        p.card-subtitle You can choose up to 5 mappers

        .row
            each application in applications
                .col-sm-6.mb-2
                    .card
                        .card-body
                            .custom-control.custom-checkbox.d-flex.justify-content-center.align-items-center
                                input.custom-control-input(
                                    id=application.id
                                    type="checkbox"
                                    value=application.id
                                    name="applicationsIds"
                                    checked=(team && team.users && team.users.find(u => u.id === application.user.id) !== undefined)
                                )
                                label.custom-control-label.d-flex.align-items-center(for=application.id)
                                    +user-avatar(application.user.osuId)
                                    .ml-2
                                        +user-link(application.user.username)

        .row
            .col-sm
                +submit-button()(class="btn-block")
