extends layout.pug
include ./mixins/buttons.pug
include ./mixins/extras.pug

block content
    .container.text-center
        .row
            .col-sm
                h4 .osz Submissions

                if submissions
                    table.table.table-hover
                        thead
                            tr
                                th Round
                                th Submission Date
                                th Link
                        tbody
                            each submission in submissions
                                tr
                                    td= submission.round.title
                                    td
                                        +local-date(submission.updatedAt)
                                    td
                                        a(href=submission.originalLink) #{submission.originalLink}

        hr

        if currentRound
            .row
                form.col-sm(action="/submissions/save", method="post")
                    h5= currentRound.title
                    p= currentRound.information
                    p.
                        You have from #[b= currentRound.submissionsStartedAt] to 
                        #[b= currentRound.submissionsEndedAt] to submit your entry

                    .form-group
                        label .osz Link
                        input.form-control(type="text" name="oszFile" required value=(currentSubmission && currentSubmission.originalLink))

                    +submit-button
