extends layout.pug
include ./mixins/buttons.pug
include ./mixins/extras.pug
include ./mixins/header.pug

block content
    form.container.text-center(action="/submissions/save", method="post")
        +header('.osz Submissions')

        .row.mb-2
            .col-sm
                .card
                    .card-body
                        if submissions
                            table.table.table-hover
                                thead
                                    tr
                                        th Round
                                        th Submission Date
                                        th Link
                                tbody
                                    each submission in submissions
                                        tr
                                            td= submission.round.title
                                            td
                                                +local-date(submission.updatedAt)
                                            td
                                                a(href=submission.originalLink) #{submission.originalLink}

        if currentRound
            .row
                .col-sm
                    .card
                        .card-header
                            h5= currentRound.title

                        .card-body
                            p.card-title= currentRound.information
                            p.card-subtitle.
                                You have from #[b= currentRound.submissionsStartedAt] to 
                                #[b= currentRound.submissionsEndedAt] to submit your entry

                            hr

                            label .osz Link
                            input.form-control(
                                type="text"
                                name="oszFile"
                                required
                                value=(currentSubmission && currentSubmission.originalLink)
                            )

            .row
                .col-sm
                    +submit-button(class="btn-block")

            include ./mixins/info.pug
